* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

a {
	color: #27757b;
	border-bottom: 1px dotted #27757b;
	text-decoration: none;
	margin: 5px
	font-size:14pt
}

a:hover {
	border-bottom: none;
}

@media (max-width: 640px) {
	#main-content {
		padding: 0 20px;
	}
}

@media (print) {
	#main-content {
		max-width: none;
	}
}
