html {
    background-color:lightgray;
}

.nav-bar {
    margin:auto;
}

.button-links {
    background-color: black;
    color:white;
    padding:20px;
    margin-bottom:20px;
}

img {
    margin: 20px;
}