* {
    font-family:Arial, Helvetica, sans-serif;
}

html {
    background-color:lightgray;
}

.button-links {
    margin:auto;
    text-decoration:none;
    background-color: black;
    color:white;
    padding:20px;
    text-align:center;
    margin-bottom:30px;
}

#personal-photo {
    /* https://www.w3schools.com/css/css_positioning.asp */
    position:relative;
    top: 20px;
}

#me {
    float:left;
}